/*estilos seccion menu imagen*/
/*fin estilos seccion menu imagen*/
.seccion-menu-imagen h2{
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 83px!important;
	color: #000;

}
.seccion-menu-imagen img {
	opacity: 0.7;
	position: relative;
	right: 18px;
	margin: auto;
	padding: 0;
	width: 70%; 
}
#products .column.mid {
	position: relative;
	top: 200px;
}
