

/*ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #000;
}
body, html {
  height: 100%;
  margin: 0;
}
header nav{
	background-color: black;
}
header.container-fluid {
	padding: 0px;
}
#myslide{
 background-image: url("img/impermeable-corto-hunter.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position:center;
 width: 100%;
 height: 80vh;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-size: calc((100vw / 1240) * 100);
  font-weight: 900;
  text-shadow: 2px 2px 5px #404040;
  text-transform: uppercase;
  color: #fff;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;	
}
/*estilos main*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #000;
}
a {
	color: #000;
}
a:hover{
	color: red;
}
.dropdown-menu {
	background-color: #000;
	color: #fff;
}
.dropdown-item {
	color: red;
}
