/*estilos main*/
.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../img/hero-home.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	position: relative;
}
.titulo {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	top: 300px;
	color: #fff;
	font-family: futura-pt-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 53px;
}
